// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article blockquote {
  font-style: normal;
  font-size: 0.95rem;
  color: #6b6b6b;
}

article {
  font-size: 0.95rem;
  line-height: 1.5em;
}


